<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% extends "base.html" %}
    {% import 'bootstrap/wtf.html' as wtf %}
    {% import '_macros.html' as macros %}

     {% block title %}Flask Project{% endblock %}
</head>
{% block page_content %}
<body>
<div class="btns">
    <div class="add-user">
        <a class="btn btn-default" href="{{ url_for('.add_user') }}">Add User</a>
    </div>
    <div class="input-load">
        <form action="insert_users" method="post">
            <label for="numbers"></label>
            <select id="numbers" name="numbers">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
          <input class="load" type="submit" name="numbers" value="Load">
        </form>
    </div>
</div>
{% block user_list %}
<h2>List of Users</h2>
<br>
{% for user in my_users %}
    <div class="users" id="cont">
        <div class="col-md-4">
            <div class="card" id="card">
                <div class="img">
                    <a id="profile-image" href="{{ url_for('.login') }}">
                    <p class="avatar"><img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=75) }}"></p>
                    </a>
                </div>
                <div id="infos">
                    <h5 id="username">Username : {{ user.username }}</h5>
                    <p id="name-email">Name : {{ user.name | capitalize }} Email : {{ user.email }}</p>
                    <p id="since">Member since {{ moment(user.member_since).format('L') }}</p>
                </div>
                <div id="edit-delete">
                    <a href="{{ url_for('.edit_profile') }}">
                        <span id="edit" class="label label-primary">Edit</span>
                    </a>
                    <a href="delete-user/{{user.id}}">
                        <span id="del" class="label label-danger">Delete</span>
                    </a>
                </div>
            </div><br>
        </div>
    </div>
    {% endfor %}
{% endblock %}
</body>

{% if pagination %}
<div class="pagination" id="pag1">
    {{ macros.pagination_widget(pagination, '.home') }}
</div>
{% endif %}
<footer class="ff">
    <div id="footer">
        <div class="col-md-12 text-center text-white">
            <p>Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved by Baye-Dieye-Aliou</p>
        </div>
    </div>
</footer>
{% block scripts %}
    {{ super() }}
{% endblock %}
{% endblock %}
</html>